# Merging Labeled Data Back into Data Frame üêô

In [1]:
import pandas as pd
import numpy as np

## Reading Original Data

In [2]:
original_df = pd.read_csv("data/cleaned-non-quantifier-data.csv")

In [3]:
original_df.head()

,To,From,Reason for dishing,Server,Date,Room,v1 norm,v2 norm,v3 norm,Avg %,...,v3,period,Cred per Praise,Cred per person,To.1,Room-NoEmoji,Source,Year,Month,Day
0,zeptimusQ,Tam2140,for hosting this kicking params party!,Token Engineering Commons,2021-05-07,üôèpraise,10000.0,100.0,200.0,0.001963,...,Edu,#17 May 7,NaN,NaN,NaN,praise,Token Engineering Commons:praise,2021,5,7
1,zeptimusQ,iviangita,for hosting and leading a lot of params parties,Token Engineering Commons,2021-05-07,üôèpraise,10000.0,100.0,100.0,0.001663,...,Edu,#17 May 7,NaN,NaN,NaN,praise,Token Engineering Commons:praise,2021,5,7
2,zeptimusQ,JuankBell,for testing and deploying the bot to record an...,Token Engineering Commons,2021-04-28,üôèpraise,1000.0,200.0,200.0,0.001342,...,Edu,#17 May 7,NaN,NaN,NaN,praise,Token Engineering Commons:praise,2021,4,28
3,zeptimusQ,iviangita,for the huge success of the MVV process,Token Engineering Commons,2021-04-30,üôèpraise,1000.0,200.0,100.0,0.001043,...,Edu,#17 May 7,NaN,NaN,NaN,praise,Token Engineering Commons:praise,2021,4,30
4,zeptimusQ,iviangita,"for his awesome work on the recorder bot, for ...",Token Engineering Commons,2021-04-30,üôèpraise,1000.0,200.0,100.0,0.001043,...,Edu,#17 May 7,NaN,NaN,NaN,praise,Token Engineering Commons:praise,2021,4,30

## Processing Labeled Data: Taking from Our Initial Labs Session

In [4]:
first_labeled_df = pd.read_csv('data/sample_praise.csv')
first_labeled_df.head()

,Category Code,QUESTIONS,Unnamed: 2,To,From,Reason for dishing,Server,Date,Room,v1 norm,...,period,Cred per Praise,Cred per person,To.1,Room-NoEmoji,Source,Year,Month,Day,Unnamed: 28
0,TEC15,NaN,6077,liviade,cranders71,always caring for our finicky bot and valued c...,Telegram,2021-01-13,TE Praise,30,...,#9 Jan 15,NaN,NaN,NaN,TE Praise,Telegram:TE Praise,2021,1,13,NaN
1,TEC12,NaN,421,chuygarcia92,Tam2140,for the Masana Temples recommendation. Nice mi...,Token Engineering Commons,2021-04-30,üôèpraise,1000,...,#17 May 7,NaN,NaN,NaN,praise,Token Engineering Commons:praise,2021,4,30,NaN
2,TEC12,NaN,70,iviangita,iviangita,for joining the Legal weekly sync,Token Engineering Commons,2021-04-30,üôèpraise,1000,...,#17 May 7,NaN,NaN,NaN,praise,Token Engineering Commons:praise,2021,4,30,NaN
3,TEC12,NaN,7141,ygganderson,JessicaZartler,"their presence, energy and smiles in the Comms...",Telegram,2020-11-24,TE Praise,20,...,#6 Dec 4,1.005.185.129,4.404.111.808,NaN,TE Praise,Telegram:TE Praise,2020,11,24,NaN
4,TEC12,NaN,5293,metaverde,iviangita,mentioning or retweeting TE Commons on the soc...,Telegram,2021-01-22,TE Commons,NaN,...,#10 Jan 29,NaN,NaN,NaN,TE Commons,Telegram:TE Commons,2021,1,22,NaN

In [5]:
first_labeled_df["Original Index"] = first_labeled_df["Unnamed: 2"]
first_labeled_df.set_index("Original Index", inplace = True)

## Filter Only Down to Data That Actually Got Labeled

In [6]:
first_labeled_df = first_labeled_df[~(first_labeled_df["Category Code"].isna())]
first_labeled_df = first_labeled_df[["Category Code", "QUESTIONS"]]

In [7]:
first_labeled_df.head()

               Category Code QUESTIONS
Original Index
6077                   TEC15       NaN
421                    TEC12       NaN
70                     TEC12       NaN
7141                   TEC12       NaN
5293                   TEC12       NaN

## Processing Labeled Data: Read the Data from Our Crowdsourced Google Sheet

In [8]:
tagged_by_info = pd.read_excel('data/Praise to Label.xlsx', sheet_name='tagged-by',engine='openpyxl', usecols="A:D")

## It appears some of the labelings got off, so we can't use them. If we ever do this again, we'll do a midway check/scrape to give feedback to labelers. 

* only keep data from sheets that appear in "sample #" on "tagged-by"
* drop "TEC12" column that was inadvertently introduced (this is why separating worksheets was a good idea, so 
* drop anything where "Original Index" does not match "Unnamed: 0" (which was actually the index)
* drop anything that didn't get a label
* we are keeping data with questions, but we can drop that later if we wish

In [9]:
NUM_SHEETS = 56
sheets_with_info = [x for x in tagged_by_info["Sample Number"].unique() if x in range(NUM_SHEETS)]
sheets_with_info

[1, 2, 3, 4, 5, 6, 20, 7, 11, 22, 8, 14, 41, 28, 40]

In [ ]:
data = []
for sheet in sheets_with_info:
    df = pd.read_excel('data/Praise to Label.xlsx',  sheet_name="new-sample-" + str(sheet),engine='openpyxl', usecols="A:F")
    data.append(df)

In [ ]:
label_df = pd.concat(data)
label_df.head()

In [ ]:
label_df.drop(columns = "TEC12", inplace = True)

In [ ]:
label_df = label_df[label_df["Unnamed: 0"] == label_df["Original Index"]]

In [ ]:
label_df.head()

In [ ]:
label_df["Category Code"].isna().sum()

In [ ]:
label_df = label_df[~(label_df["Category Code"].isna())]
label_df

In [ ]:
label_df["Original Index"] = [int(x) for x in label_df["Original Index"]]
label_df.set_index("Original Index", inplace = True)

In [ ]:
label_df.head()

In [ ]:
label_df.drop(columns = ["Unnamed: 0"], inplace = True)
label_df = label_df[["Category Code", "QUESTIONS"]]

In [ ]:
label_df.head()

## Combine Data from Meeting with Crowdsourced Asynchonous Data

In [ ]:
all_labeled_data = pd.concat([first_labeled_df, label_df])
all_labeled_data.head()

## Combine Labeled Data with Original Data

In [ ]:
final_df = original_df.merge(all_labeled_data, how = "outer", right_index = True, left_index = True)

### Some Extremely Obsessive and Probably Unnecessary Reality Check

In [ ]:
final_df.head()

In [ ]:
final_df.columns

In [ ]:
len(final_df) == len(original_df)

In [ ]:
all([final_df.loc[k, "Category Code"] == label_df.loc[k, "Category Code"] for k in label_df.index])

In [ ]:
all([final_df.loc[k, "Category Code"] == first_labeled_df.loc[k, "Category Code"] for k in first_labeled_df.index])

In [ ]:
final_df.to_csv("data/all-hand-labeled-data.csv")